//******************************************************************************//
//----- 1440px -----//
@media (max-width:1440px) {
    //------ HOME ------//
    .itemListCont{
        width: 95%;
        padding: 15px 0;

        .itemListGrid{
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .itemCont {
        height: 77%;
    }
    
}