body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none; }

s
ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.floatLeft {
  float: left;
  padding: .5em .5em .5em 0; }

.floatRight {
  float: right;
  padding: .5em 0 .5em .5em; }

img {
  width: 100px; }

button {
  all: unset;
  cursor: pointer; }

* {
  font-family: 'Roboto', sans-serif; }

.nav_a:after {
  content: "";
  position: absolute;
  flex-flow: column;
  margin-top: 50px;
  width: 0px;
  height: 3px;
  top: 0;
  background: #ffffff;
  transition: width 0.3s; }

.nav_a:hover::after {
  width: 100px; }

.nav_a_list {
  color: #ffffff; }

.nav_a_list:hover {
  color: #ffee00; }

.menu_vertical {
  display: none; }

.menu_horizontal li:hover .menu_vertical {
  display: flex; }

.header-container {
  background-image: url(../assets/img/header/header_03.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.itemListCont {
  width: 77%;
  background-color: #c6c6c6;
  color: black;
  padding: 25px 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: start; }
  .itemListCont .itemListGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: start; }

.itemCont {
  height: 78%;
  background-color: white;
  color: black;
  margin: 20px 20px;
  padding: 18px 20px 45px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 1440px) {
  .itemListCont {
    width: 95%;
    padding: 15px 0; }
    .itemListCont .itemListGrid {
      grid-template-columns: repeat(4, 1fr); }
  .itemCont {
    height: 77%; } }
